//项目提供scss全局变量
//左侧的菜单宽度
$base-menu-width: 260px;
//左侧菜单背景颜色
$base-menu-background: #001529;
//导航栏高度
$base-tabbar-height: 50px;
//左侧菜单logo高度设置
$base-menu-logo-height: 50px;
//左侧菜单右侧logo文字大小
$base-logo-title-fontsize:20px;

$base-menu-min-width: 50px;